$primary-color: #0c3464;
$secondary-color: #E59C36;
$grey-900: #646464;
$grey-700: #989898;
$grey-600: #b3b3b3;
$grey-500: #d9d9d9;
$grey-400: #e6e6e6;
$grey-300: #f0f0f0;
$grey-200: #f5f5f5;
$grey-100: #fafafa;
$grey-50: #fefefe;
$success-color: #38a169;
$error-color: #e53e3e;
$success-color-border: #255c3f;
$error-color-border: #7d3737;
