$primary-color: #0c3464;
$secondary-color: #E59C36;
$grey-900: #646464;
$grey-700: #989898;
$grey-500: #d9d9d9;
$grey-300: #f0f0f0;
$grey-100: #fafafa;
$success-color: #38a169;
$error-color: #e53e3e;
$success-color-border: #255c3f;
$error-color-border: #7d3737;
